---
import { load } from "cheerio";
import Image from "./Image.astro";
import { writeFileSync, readFileSync } from "node:fs";

type Props = {
  url: string;
};

const { url } = Astro.props;

const generatedFilePath = new URL(
  import.meta.env.PROD
    ? "../../../generated/ogp.json"
    : "../../generated/ogp.json",
  import.meta.url
);

const ogp = JSON.parse(readFileSync(generatedFilePath, "utf8"));

let title: string = "";
let description: string = "";
let image: string = "";

if (ogp[url]) {
  title = ogp[url].title;
  description = ogp[url].description;
  image = ogp[url].image;
} else {
  const html = await fetch(url).then(res => res.text());
  const $ = load(html);

  title = $("meta[property='og:title']").attr("content") ?? $("title").text();
  description =
    $("meta[property='og:description']").attr("content") ??
    $("meta[name='description']").attr("content") ??
    "";
  image =
    $("meta[property='og:image']").attr("content") ??
    $("meta[name='twitter:image']").attr("content") ??
    "";

  if (image && !image.startsWith("http")) {
    image = new URL(image, url).toString();
  }

  if (import.meta.env.PROD) {
    const ogp = JSON.parse(readFileSync(generatedFilePath, "utf8"));

    writeFileSync(
      generatedFilePath,
      JSON.stringify(
        {
          ...ogp,
          [url]: {
            title,
            description,
            image,
          },
        },
        null,
        2
      )
    );
  }
}
---

<a
  href={url}
  target="_blank"
  class="block align-top border border-gray-600 p-4 gap-4 no-underline rounded-md sm:flex mb-4"
>
  {
    image && (
      <Image
        src={image}
        className="h-28 object-cover m-0 w-full sm:w-auto aspect-video"
        alt="title"
        isOptimization={false}
      />
    )
  }
  <div>
    <p class="mt-1 mb-0.5 font-bold">
      {title}
    </p>
    <p class="m-0 text-sm">
      {
        description && description.length > 100
          ? `${description?.slice(0, 100)}...`
          : description
      }
    </p>
  </div>
</a>
