---
export interface Props {
  name: string;
  size?: "sm" | "lg";
}

const { name, size = "sm" } = Astro.props;
---

<li
  class={`inline-block ${
    size === "sm" ? "my-1 underline-offset-4" : "my-3 mx-1 underline-offset-8"
  }`}
>
  <a
    href={`/tags/${name}`}
    class={`${size === "sm" ? "text-sm" : "text-lg"} group`}
  >
    <span>{name}</span>
  </a>
</li>

<style>
  a {
    @apply hover:text-skin-accent relative border rounded-2xl inline-flex justify-center items-center pt-1 pb-2 px-3 leading-none transition-colors duration-200 ease-in-out;
  }
  a > span {
    @apply leading-none inline-block;
  }
</style>
